.Advertisement {
  width: 100%;
  height: 630px;
  margin-top: 20px;
}
.Advertisement__center{
  width: 70%;
  height: inherit;
  margin: 0 auto;
}
.Advertisement__Foursome {
  width: 70%;
  height: 43%;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  img{
    width: 320px;
    height: 244px;
    object-fit: cover;
    border-radius: 13px;
  }
}
.Advertisement__Single {
  width: 70%;
  height: 17%;
  margin: 0 auto;
  padding: 10px;
}
